{% extends "./base.html" %}

{% block content %} 

<div class="container" style="margin-bottom:150px; margin-top:150px; text-align: center; color:#89b458; font-size: 26px">
    <h1>About Us</h1><br><br><br>
    <span>We are a group of enthusiastic software engineering students.</span><br>
    <span>We all share a passion for world geography and want to share our knowledge with others.</span><br>
    <span>This project was started in April 2022, and we are looking to keep exploring new ideas.</span><br>
</div>

{% endblock %}