{% extends "./base.html" %}
{% block content %}
<div class="container" style="margin-bottom:150px; margin-top:150px; text-align: center; color:#89b458; font-size: 26px; font-family: Papyrus">
    <span>Welcome to Know The World!</span><br>
    <span>Here you can learn everything about any country in the world you want!</span><br>
    <span>From their location, flag and capital city, to their culture and popular landmarks!</span><br>
    <span>Start your journey by navigating through the menu at the top of the site!</span><br>
</div>
{% endblock %}