{% extends "./base.html" %}
{% block content %}
You are at category {{ category.name }} for {{ subcategory.name }}, quiz level={{ quiz_level }}<br><br>
<ul>
    {% for q in subcategory.quiz_set.all %}
    {% if q.quiz_level == quiz_level %}
    <form method="post">
    {{ q }}<br>
        {% for p in q.question_set.all %}
        <li>{{ p.question_text }}</li>
            {% for c in p.choice_set.all %}
            <input type="radio" id="choiceInput" name="{{p}}" value="{{ c.choice_text }}">
            <label for="choiceInput">{{ c.choice_text }}</label><br>
            {% endfor %}
        {% endfor %}
    </form>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}